// COLORS
$color-primary: #ec4949;
$color-primary-light: #f2a2a2;
$color-primary-dark: #d93232;

$color-secondary: #ffb900;
$color-secondary-light: #ffd257;
$color-secondary-dark: #ff7730;

$color-grey-light: #eee;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;
